*{padding: 0;
    margin: 0;}
    /* INDEX*/
    
        body{
        background-color:rgb(255, 255, 255);
    }

    /*Mapa*/

@each $boton, $color in $botones {
    .boton__#{$boton}{
        background-color: $color;
    }
}