header{

    h1{color: $colorTexto;}
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px black solid;
    display: grid;
    grid-area: header;
    background-color: $fondoColor;

    
    .clarito{background-color: $fondoParrafos;
        border: 1px solid $fondoColor;
        border-radius: 4px;
    main{
        div{
            div{
                ul{
                    li{
                        &:hover{background-color: $fondoColor}
                        ul{ 
                            li{
                                background-color: $fondoColor;
                                &:hover{ background-color: $fondoParrafos;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

}