@import "variables";
@import "fuentes";
@import "generales";
@import "nav";
@import "equipos";
@import "preparaciones";



    .logo__titulo{
        display:flex;
        height: 100px;
        width: 100px;
        flex-wrap: wrap;
    }

    a{
        text-decoration: none;
    }
    .imagenes{
        grid-area: imagenes;
    }
    footer{
        margin-bottom: 0;
        background-color: $fondoColor;
    }

    .footer__logos{
        display: none;
    }

    .contenido {
        border: 1px black solid;
        background-color: $colorContenido;
        flex-wrap: wrap;
    }

    .contenido__parrafo1{
        
        font-family: $letraParrafos;
        border-radius: 10px;
        padding: 8px;
        background-color: $fondoColor;
        color: $colorTexto;
        flex-wrap: wrap;
    }
    
    .publicidad{
        border: 1px black solid;
    }

    .contenido{
        grid-area: contenido;
    }

    .formulario{display:grid;
    height: 230px;
    width: 200px;
    font-size: 17px solid black $letraParrafos;
    justify-content: flex-start;
    border-radius: 10px;
    text-align: left;
    flex-wrap: wrap;
    background-color: $fondoParrafos;
    
    
    
    }
    .publicidad{
        grid-area: publicidad;
        background-color: $colorContenido;
    }

    footer{
        grid-area: footer;
        color: $colorTexto;
        font: $letraParrafos;
    }

    .father{
        display: grid;
        
        grid-template-areas:
        "header"
        "imagenes"
        "contenido"
        "publicidad"
        "footer";
        border: 2px solid black;}

/*NOSOTROS*/

.contenido__nosotros{
    grid-area: contnos;
    background-color: $colorContenido;
    border: 1px solid black;
}
.titulo__nosotros{
    text-align: center;
}
.parrafo__nosotros1{            
    width: 650px;
    font-family: $letraParrafos;
    border: 1px black solid;
    border-radius: 5px;            
    background-color: $fondoParrafos;
    text-align: justify;
    padding: 7px;
    
}

.parrafo__nosotros2{
    width: 350px;
    font-family: $letraParrafos;
    background-color: $fondoParrafos;
    border: 1px black solid;
    text-align: justify;
    padding: 7px;
    border-radius: 5px;
}

.imagen__nosparrafo2{
    margin-left: 130px;
}

.titulo__nosparrafo2{
    margin-left: 130px;
}



.parrafo__nosotros3{
    @include size (350px, 200px);
    font-family: $letraParrafos;
    background-color: $fondoParrafos;
    border: 1px black solid;
    border-radius: 5px;
    text-align: justify;
    padding: 7px;
}
.imagen__nosparrafo3{
    margin-left: 130px;
}

.titulo__nosparrafo3{
    margin-left: 130px;
}

.parrafo__nosotros4{
    @include size (280px, 260px);

    font-family: $letraParrafos;
    background-color: $fondoParrafos;
    border: 1px black solid;
    border-radius: 5px;
    text-align: justify;
    padding: 7px;
}
.imagen__nosparrafo4{
    margin-left: 100px;
}

.titulo__nosparrafo4{
    margin-left: 100px;
}

.publicidad__nosotros{
    grid-area: publinos;
    background-color: $colorContenido;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer__nosotros{
    grid-area: footnos;
    border: 1px solid black;
    background-color: $fondoColor;
    color: $colorTexto;
    font: $letraParrafos;
}

.footer__logosn{ display: none;}


.father__nosotros{
    display: grid;
    grid-template-areas:
    "header"
    "contnos"
    "publinos"
    "footnos"
    ;
}

/*CONTACTO*/

.father__contacto{
    display: grid;
    grid-template-areas:
    "header"
    "contencon"
    "numeros"
    "footcon";
}

.formulario__contacto{
    display: grid;
    font-size: 17px solid black $letraParrafos;
    justify-content: flex-start;
    border-radius: 10px;
    text-align: left;
    flex-wrap: wrap;
    border: 1px solid black;

}

.contenido__contacto{grid-area: contencon;}


.numeros__contacto{
    grid-area: numeros;
    border: 1px solid black;
    color: black;
    background-color: $fondoParrafos
}

.footer__contacto{
    grid-area: footcon;
    color: $colorTexto;
    margin-bottom: 0;
}
.footer__logosc{ display: none;}


    @media screen and (min-width: 700px){
        .father{
            grid-template-columns: 3fr, 7fr, 1fr;
            grid-template-rows: 2fr,  5fr, 7fr,3fr;
            grid-template-areas:
            "header       header      header"
            "imagenes     imagenes    publicidad"
            "contenido    contenido   publicidad"
            "footer       footer      footer";
            
        }
        .logo__titulo{
            display: flex;
            height: 150px;
            width: 150px;
            flex-wrap: wrap;
            margin-top: 0;
            

        }
        header{display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .header__titulo{padding: 45px;
            margin-top: -140px;
            margin-left: 60px; 
            font-style:normal;
            font-weight:bold;
            font-size: 30px;
            font-family: $letraTitulos;
            text-align: center;}

            

        .contenido{
            display: flex;
            background-color: $colorTexto;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            
        }

        .contenido__parrafo1{
            width: 400px;
            height: 500px;            
            margin-left: 45%;
            margin-top: 50px;
            font-family: $letraParrafos;
            border-radius: 10px;
            background-color: $fondoColor;
            color: $colorTexto;
            flex-wrap: wrap;
        }

        .formulario{display: grid;                
        height: 330px;
        width: 180px;
        margin-left: -950px;
        margin-top: 200px;
        border-radius: 1px solid black;
        border: 1px $fondoColor;
        flex-wrap: wrap;
        font: $letraParrafos;
    }

        .mapa{display: flex;
        margin-top: 30%;
        margin-right: -26%;
        flex-wrap: wrap;            
        }

        .publicidad{display: flex;
            margin-right: 0;
            flex-wrap: wrap;
        }
        footer{
            background-color: $fondoColor;
            margin-bottom: 0;
            margin-top: 40px;
            font: $letraParrafos;
        }
        
        /*NOSOTROS*/


        .contenido__nosotros{
            grid-area: contnos;
            background-color: $colorContenido;
            border: 1px solid black;
            flex-wrap: wrap;
        }
        
        .titulo__nosotros{
            text-align: center;
        }
        .parrafo__nosotros1{            
            width: 650px;
            font-family: $letraParrafos;
            border: 1px black solid;
            border-radius: 5px;            
            background-color: $fondoParrafos;
            text-align: justify;
            padding: 7px;
    
        }

        .parrafo__nosotros2{
            width: 350px;
            font-family: $letraParrafos;
            background-color: $fondoParrafos;
            border: 1px black solid;
            text-align: justify;
            padding: 7px;
            border-radius: 5px;
        }

        .imagen__nosparrafo2{
            margin-left: 130px;
        }

        .titulo__nosparrafo2{
            margin-left: 130px;
        }



        .parrafo__nosotros3{
            @include size (350px, 200px);
            font-family: $letraParrafos;
            background-color: $fondoParrafos;
            border: 1px black solid;
            border-radius: 5px;
            text-align: justify;
            padding: 7px;
        }
        .imagen__nosparrafo3{
            margin-left: 130px;
        }

        .titulo__nosparrafo3{
            margin-left: 130px;
        }

        .parrafo__nosotros4{
            @include size (280px, 260px);

            font-family: $letraParrafos;
            background-color: $fondoParrafos;
            border: 1px black solid;
            border-radius: 5px;
            text-align: justify;
            padding: 7px;
        }
        .imagen__nosparrafo4{
            margin-left: 100px;
        }

        .titulo__nosparrafo4{
            margin-left: 100px;
        }
        
        .publicidad__nosotros{
            grid-area: publinos;
            background-color: $colorContenido;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .footer__logosn{display: none;}
        .father__nosotros{
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            grid-template-rows: 1fr 3fr 1fr;
            grid-template-areas: 
            "header      header      header"
            "contnos     contnos     publinos"
            "footnos     footnos     footnos";
            background-color: $colorContenido;
        }

    /*CONTACTO*/

    .father__contacto{
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-areas:
        "header      header      header"
        "contencon   contencon   numeros"
        "footcon     footcon     footcon" ;
        background-color: $colorContenido;
    }


    .numeros__contacto{
        background-color: $fondoColor;
        font-family: $letraParrafos;
        font-size: 105px solid $colorTexto;
    }

    .formulario__contacto{
        margin-top: 100px;
        margin-left: 25px;
    }

    .contenido__contacto{
        background-color: $colorContenido;
    }

    .mapa__contacto{
        margin-left: 315px;
        margin-top: -106px
        ;
    }

    .mapa__tamaño{
        width: 450px;
        height: 320px;
    }

    @media only screen and (min-width: 1024px){
        .father{
            grid-template-columns: 1fr, 3fr, 1fr;
            grid-template-rows: 2fr, 3fr, 3fr,  2fr;
            grid-template-areas:
            "header       header      header"
            "imagenes     imagenes    publicidad"
            "contenido    contenido   publicidad"
            "footer       footer      footer";
            gap: 5px;
        }
    
        .logo__titulo{width: 200px;
        height: 170px;}
    
        nav{
            margin-top: 5px;
        }
    
        .imagenes{
            display: flex;
            height: 330px;
            width: 430px;
            padding: 7px;
            margin-left: 350px;
            margin-top: -5px;
            
            }
    
        .encefalo{height: 330px;}

        .cervical{ 
            height: 330px;
            width: 450px;

        }
        .contenido{
            
            border: 1px solid black;
            
        }
    
        .contenido__parrafo1{
            margin-bottom: 50px;
            height: 530px;
            font-family: $letraParrafos;
        }
    
        .formulario{
            height: 410px;
            width: 260px;
            padding: 10px;
            margin-left: -890px;
        }
    
    
    
        .publicidad{
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
        }
        
        .hemologo{
            height: 130px;
            width: 250px;
        }
        .electrologo{
            height: 130px;
            width: 250px;
        }

        .clinicalogo{
            height: 130px;
            width: 250px;
        }
        

    
        .footer{
            
            border: 1px solid black;
            font: $letraParrafos;
        }
    
        .footer__direccion{
            margin-top: 30px;
        }
    
        .footer__logos{
            display: flex;
            flex-direction: column;
            margin-left: 72%;
            width: 34px;
            height: 34px;
            padding: 5px;
            margin-bottom: 40px;
            margin-top: -76px;}
    
        .footer__telefono{
            margin-left: 75%;
            margin-top: -66px;
        }
        .footer__whatsapp{
            margin-left: 75%;
        }
        .footer__email{
            margin-left: 75%;
        }
    
        /*NOSOTROS*/
    
        .father__nosotros{
        display: grid;
        grid-template-columns: 1fr 3fr  1fr;
        grid-template-rows: 1fr 3fr  1fr  1fr;
        grid-template-areas: 
        "header      header      header"
        "contnos     contnos     publinos"
        "contnos     contnos     publinos"
        "footnos     footnos     footnos";
        gap: 5px;
        }

        .titulo__nosotros{
            font-size: 90px $letraTitulos black solid;
            text-align: center;
            margin-top: 40px;
        }
        .parrafo__nosotros1{            
            width: 650px;
            font-family: $letraParrafos;
            border: 1px black solid;
            border-radius: 5px;            
            background-color: $fondoParrafos;
            text-align: justify;
            margin-left: 180px;
            margin-top: 55px;
            padding: 7px;
            
        }

        

        .parrafo__nosotros2{
            width: 350px;
            margin-left: 25px;
            margin-top: 10px;
            font-family: $letraParrafos;
            background-color: $fondoParrafos;
            border: 1px black solid;
            text-align: justify;
            padding: 7px;
            border-radius: 5px;
        }

        .imagen__nosparrafo2{
            margin-left: 130px;
        }

        .titulo__nosparrafo2{
            margin-left: 130px;
        }



        .parrafo__nosotros3{
            @include size (350px, 200px);
            margin-left: 405px;
            margin-top: -282px;
            font-family: $letraParrafos;
            background-color: $fondoParrafos;
            border: 1px black solid;
            border-radius: 5px;
            text-align: justify;
            padding: 7px;
        }
        .imagen__nosparrafo3{
            margin-left: 130px;
        }

        .titulo__nosparrafo3{
            margin-left: 130px;
        }

        .parrafo__nosotros4{
            @include size (280px, 260px);
            margin-left: 775px;
            margin-top: -218px;
            font-family: $letraParrafos;
            background-color: $fondoParrafos;
            border: 1px black solid;
            border-radius: 5px;
            text-align: justify;
            padding: 7px;
        }
        .imagen__nosparrafo4{
            margin-left: 100px;
        }

        .titulo__nosparrafo4{
            margin-left: 100px;
        }

        .publicidad__nosotros{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }



        .footer__nosotros{
        background-color: $fondoColor;
        border: 1px solid black;
        font: $letraParrafos;
        }
    
        .footer__direccionn{
        margin-top: 30px;
        }
    
        .footer__logosn{
            display: flex;
            flex-direction: column;
            margin-left: 72%;
            width: 34px;
            height: 34px;
            padding: 5px;
            margin-bottom: 40px;
            margin-top: -76px;}
    
        .footer__telefonon{
            margin-left: 75%;
            margin-top: -66px;
        }
        .footer__whatsappn{
        margin-left: 75%;
        }
        .footer__emailn{
        margin-left: 75%;
        }
    
        /*CONTACTO*/
        .father__contacto{
            grid-template-columns: 1fr 3fr 1fr;
            grid-template-rows: 1fr 3fr 1fr;
            grid-template-areas:
            "header      header      header"
            "contencon   contencon   numeros"
            "footcon     footcon     footcon" ;
            gap: 5px;
        }

        .numeros__contacto{
            background-color: $fondoColor;
            font-family: $letraParrafos;
            font-size: 105px solid $colorTexto;
            color: $colorTexto;
        }
    
        .formulario__contacto{
            margin-top: 10px;
            display: grid;
            justify-content: flex-start;            
            text-align:left;
            height: 394px;
            width: 227px;
            font-family: $letraParrafos;
            padding: 10px; 
            background-color: $fondoParrafos;
            }

    
        .contenido__contacto{
            background-color: $colorTexto;
            border: 1px solid black;
            
            

        }
    
        .mapa__contacto{
            margin-left: 315px;
        }
    
        .mapa__tamaño{
            width: 750px;
            height: 320px;
        }

        .footer__contacto{
            margin-bottom: 0;
            
        }
        .footer__logosc{
            display: flex;
            flex-direction: column;
            margin-left: 72%;
            width: 34px;
            height: 34px;
            padding: 5px;
            margin-bottom: 40px;
            margin-top: -76px;}
        
            .footer__telefonoc{
            margin-left: 75%;
            margin-top: -66px;;
            }
            .footer__whatsappc{
            margin-left: 75%;
            }
            .footer__emailc{
            margin-left: 75%;
            }
            .contacto__cv{
                border: 1px solid black;
                border-radius: 5px;
                margin-left: 400px;
                margin-top: -580px;
                font-family: $letraParrafos;
                background-color: $fondoParrafos;
                @include size (380px, 180px);
                display: grid;
                
            }
            .formulario__titulo2{
                text-align: center;
            }
            

            /*Extend*/

            .redsocial{
                border: 1px solid rgb(0, 0, 0);
                width: 200px;
                display: grid;
            }


            .redsocial__ig{
                @extend .redsocial;
                background-color: rgb(153, 13, 153);
                color:wheat;
                border-radius: 3px;
                margin-top: 280px
            }

            .redsocial__fb{
                @extend .redsocial;
                background-color: blue;
                color: white;
                border-radius: 3px;
                margin-top: 20px;
            }


    
    

    }
}

