@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0; }

/* INDEX*/
body {
  background-color: white; }

/*Mapa*/
.boton__agregar {
  background-color: blue; }

.boton__confirmar {
  background-color: #437a43; }

.boton__limpiar {
  background-color: violet; }

header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px black solid;
  display: grid;
  grid-area: header;
  background-color: #005171; }
  header h1 {
    color: white; }
  header .clarito {
    background-color: #d4d4d4;
    border: 1px solid #005171;
    border-radius: 4px; }
    header .clarito main div div ul li:hover {
      background-color: #005171; }
    header .clarito main div div ul li ul li {
      background-color: #005171; }
      header .clarito main div div ul li ul li:hover {
        background-color: #d4d4d4; }

.logo__titulo {
  display: flex;
  height: 100px;
  width: 100px;
  flex-wrap: wrap; }

a {
  text-decoration: none; }

.imagenes {
  grid-area: imagenes; }

footer {
  margin-bottom: 0;
  background-color: #005171; }

.footer__logos {
  display: none; }

.contenido {
  border: 1px black solid;
  border-radius: 4px;
  background-color: white;
  flex-wrap: wrap; }

.contenido__parrafo1 {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  padding: 8px;
  background-color: #005171;
  color: white;
  flex-wrap: wrap; }

.publicidad {
  border: 1px black solid; }

.contenido {
  grid-area: contenido; }

.formulario {
  display: grid;
  height: 230px;
  width: 200px;
  font-size: 17px solid black Arial, Helvetica, sans-serif;
  justify-content: flex-start;
  border-radius: 10px;
  text-align: left;
  flex-wrap: wrap;
  background-color: #d4d4d4; }

.publicidad {
  grid-area: publicidad;
  background-color: white; }

footer {
  grid-area: footer;
  color: white;
  font: Arial, Helvetica, sans-serif; }

.father {
  display: grid;
  grid-template-areas: "header" "imagenes" "contenido" "publicidad" "footer";
  border: 2px solid black; }

/*NOSOTROS*/
.contenido__nosotros {
  grid-area: contnos;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px; }

.titulo__nosotros {
  text-align: center; }

.parrafo__nosotros1 {
  width: 650px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px black solid;
  border-radius: 5px;
  background-color: #d4d4d4;
  text-align: justify;
  padding: 7px; }

.parrafo__nosotros2 {
  width: 350px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d4d4d4;
  border: 1px black solid;
  text-align: justify;
  padding: 7px;
  border-radius: 5px; }

.imagen__nosparrafo2 {
  margin-left: 130px; }

.titulo__nosparrafo2 {
  margin-left: 130px; }

.parrafo__nosotros3 {
  height: 200px;
  width: 350px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d4d4d4;
  border: 1px black solid;
  border-radius: 5px;
  text-align: justify;
  padding: 7px; }

.imagen__nosparrafo3 {
  margin-left: 130px; }

.titulo__nosparrafo3 {
  margin-left: 130px; }

.parrafo__nosotros4 {
  height: 260px;
  width: 280px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d4d4d4;
  border: 1px black solid;
  border-radius: 5px;
  text-align: justify;
  padding: 7px; }

.imagen__nosparrafo4 {
  margin-left: 100px; }

.titulo__nosparrafo4 {
  margin-left: 100px; }

.publicidad__nosotros {
  grid-area: publinos;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.footer__nosotros {
  grid-area: footnos;
  border: 1px solid black;
  background-color: #005171;
  color: white;
  font: Arial, Helvetica, sans-serif; }

.footer__logosn {
  display: none; }

.father__nosotros {
  display: grid;
  grid-template-areas: "header" "contnos" "publinos" "footnos"; }

/*CONTACTO*/
.father__contacto {
  display: grid;
  grid-template-areas: "header" "contencon" "numeros" "footcon"; }

.formulario__contacto {
  display: grid;
  font-size: 17px solid black Arial, Helvetica, sans-serif;
  justify-content: flex-start;
  border-radius: 10px;
  text-align: left;
  flex-wrap: wrap;
  border: 1px solid black; }

.contenido__contacto {
  grid-area: contencon; }

.numeros__contacto {
  grid-area: numeros;
  border: 1px solid black;
  color: black;
  background-color: #d4d4d4; }

.footer__contacto {
  grid-area: footcon;
  color: white;
  margin-bottom: 0; }

.footer__logosc {
  display: none; }

/*Equipos*/
/*Resonancia*/
.eresonancia__titulo {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 90px solid black; }

.eresonancia__parrafocontraindicacion {
  border: 1px solid black;
  margin-top: 20px;
  width: 530px;
  border-radius: 5px;
  padding: 6px;
  background-color: #d4d4d4;
  font-family: Arial, Helvetica, sans-serif; }

.eresonancia__imagen {
  height: 30px; }

.eresonancia__contenido {
  border-radius: 5px;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #005171;
  padding: 6px;
  background-color: #d4d4d4; }

/*Densitometria*/
.edensitometria__titulo {
  text-align: center;
  font-family: "Open Sans", sans-serif; }

.edensitometria__parrafocontraindicacion {
  border: 1px solid black;
  border-radius: 5px;
  padding: 6px;
  background-color: #d4d4d4;
  font-family: Arial, Helvetica, sans-serif; }

.edensitometria__imagen {
  height: 30px; }

.edensitometria__contenido {
  border: 1px solid black;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
  background-color: #d4d4d4; }

/*Tomografia*/
.etomografia__titulo {
  text-align: center;
  font-family: "Open Sans", sans-serif; }

.etomografia__parrafocontraindicacion {
  border: 1px solid black;
  margin-top: 40px;
  width: 500px;
  border-radius: 5px;
  padding: 6px;
  background-color: #d4d4d4;
  font-family: Arial, Helvetica, sans-serif; }

.etomografia__imagen {
  height: 30px; }

.etomografia__contenido {
  border: 1px black solid;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
  background-color: #d4d4d4; }

/*Mamografia*/
.emamografia__titulo {
  text-align: center;
  font-family: "Open Sans", sans-serif; }

.emamografia__parrafocontraindicacion {
  border: 1px solid black;
  border-radius: 5px;
  padding: 6px;
  background-color: #d4d4d4;
  font-family: Arial, Helvetica, sans-serif; }

.emamografia__imagen {
  height: 30px; }

.emamografia__contenido {
  border: 1px black solid;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
  background-color: #d4d4d4; }

/*PREPARACIONES*/
/*Densitometria*/
.pdensitometria__titulo {
  text-align: center;
  font-family: "Open Sans", sans-serif; }

.pdensitometria__contenido {
  border: 1px solid black;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
  background-color: #d4d4d4; }

/*Mamografia*/
.pmamografia__titulo {
  text-align: center;
  font-family: "Open Sans", sans-serif; }

.pmamografia__contenido {
  border: 1px solid black;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
  background-color: #d4d4d4; }

/*Tomografia*/
.ptomografia__titulo {
  text-align: center;
  font-family: "Open Sans", sans-serif; }

.ptomografia__contenido {
  border: 1px solid black;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
  background-color: #d4d4d4; }

/*Resonancia*/
.presonancia__titulo {
  text-align: center;
  font-family: "Open Sans", sans-serif; }

.presonancia__contenido {
  border: 1px solid black;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
  background-color: #d4d4d4; }

.presonancia__contenido2 {
  border: 1px solid black;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
  background-color: #d4d4d4; }

@media screen and (min-width: 700px) {
  .father {
    grid-template-columns: 3fr, 7fr, 1fr;
    grid-template-rows: 2fr,  5fr, 7fr,3fr;
    grid-template-areas: "header       header      header" "imagenes     imagenes    publicidad" "contenido    contenido   publicidad" "footer       footer      footer"; }
  .logo__titulo {
    display: flex;
    height: 150px;
    width: 150px;
    flex-wrap: wrap;
    margin-top: 0; }
  header {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .header__titulo {
    padding: 45px;
    margin-top: -140px;
    margin-left: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    text-align: center; }
  .contenido {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; }
  .contenido__parrafo1 {
    width: 400px;
    height: 500px;
    margin-left: 45%;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: #005171;
    color: white;
    flex-wrap: wrap; }
  .formulario {
    display: grid;
    height: 350px;
    width: 218px;
    margin-left: -590px;
    margin-top: 500px;
    border-radius: 1px solid black;
    border: 1px #005171;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif; }
  .mapa {
    display: flex;
    margin-top: 570px;
    margin-right: -30%;
    margin-left: -250px;
    flex-wrap: wrap; }
  .publicidad {
    display: flex;
    margin-right: 0;
    flex-wrap: wrap; }
  .hemologo {
    height: 150px;
    width: 250px; }
  .electrologo {
    height: 130px;
    width: 250px; }
  .clinicalogo {
    height: 100px;
    width: 250px; }
  footer {
    background-color: #005171;
    margin-bottom: 0;
    margin-top: 40px;
    font: Arial, Helvetica, sans-serif; }
  /*NOSOTROS*/
  .contenido__nosotros {
    grid-area: contnos;
    background-color: white;
    border: 1px solid black;
    flex-wrap: wrap; }
  .titulo__nosotros {
    text-align: center; }
  .parrafo__nosotros1 {
    width: 650px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px black solid;
    border-radius: 5px;
    background-color: #d4d4d4;
    text-align: justify;
    padding: 7px; }
  .parrafo__nosotros2 {
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d4d4d4;
    border: 1px black solid;
    text-align: justify;
    padding: 7px;
    border-radius: 5px; }
  .imagen__nosparrafo2 {
    margin-left: 130px; }
  .titulo__nosparrafo2 {
    margin-left: 130px; }
  .parrafo__nosotros3 {
    height: 200px;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d4d4d4;
    border: 1px black solid;
    border-radius: 5px;
    text-align: justify;
    padding: 7px; }
  .imagen__nosparrafo3 {
    margin-left: 130px; }
  .titulo__nosparrafo3 {
    margin-left: 130px; }
  .parrafo__nosotros4 {
    height: 260px;
    width: 280px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d4d4d4;
    border: 1px black solid;
    border-radius: 5px;
    text-align: justify;
    padding: 7px; }
  .imagen__nosparrafo4 {
    margin-left: 100px; }
  .titulo__nosparrafo4 {
    margin-left: 100px; }
  .publicidad__nosotros {
    grid-area: publinos;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .footer__logosn {
    display: none; }
  .father__nosotros {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: "header      header      header" "contnos     contnos     publinos" "footnos     footnos     footnos";
    background-color: white; }
  /*CONTACTO*/
  .father__contacto {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: "header      header      header" "contencon   contencon   numeros" "footcon     footcon     footcon";
    background-color: white; }
  .numeros__contacto {
    background-color: #005171;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 105px solid white;
    color: white; }
  .formulario__contacto {
    display: grid;
    margin-top: 40px;
    height: 378px;
    width: 202px;
    border: 1px;
    border-radius: 1px solid black;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d4d4d4; }
  .contenido__contacto {
    background-color: white; }
  .mapa__contacto {
    margin-left: 215px;
    margin-top: -106px; }
  .mapa__tamaño {
    width: 450px;
    height: 320px; } }

@media only screen and (min-width: 700px) and (min-width: 1024px) {
  .father {
    grid-template-columns: 1fr, 3fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr,  1fr;
    grid-template-areas: "header       header      header" "imagenes     imagenes    publicidad" "contenido    contenido   publicidad" "footer       footer      footer";
    gap: 5px; }
  .logo__titulo {
    width: 200px;
    height: 170px; }
  nav {
    margin-top: 5px; }
  .imagenes {
    height: 400px; }
  .contenido {
    border: 1px solid black; }
  .contenido__parrafo1 {
    margin-bottom: 50px;
    height: 510px;
    font-family: Arial, Helvetica, sans-serif; }
  .formulario {
    height: 410px;
    width: 260px;
    padding: 10px;
    margin-left: -948px; }
  .mapa {
    margin-left: 20px; }
  .publicidad {
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .hemologo {
    height: 150px;
    width: 250px; }
  .electrologo {
    height: 130px;
    width: 250px; }
  .clinicalogo {
    height: 100px;
    width: 250px; }
  .footer {
    border: 1px solid black;
    font: Arial, Helvetica, sans-serif; }
  .footer__direccion {
    margin-top: 30px; }
  .footer__logos {
    display: flex;
    flex-direction: column;
    margin-left: 72%;
    width: 34px;
    height: 34px;
    padding: 5px;
    margin-bottom: 40px;
    margin-top: -76px; }
  .footer__telefono {
    margin-left: 75%;
    margin-top: -66px; }
  .footer__whatsapp {
    margin-left: 75%; }
  .footer__email {
    margin-left: 75%; }
  /*NOSOTROS*/
  .father__nosotros {
    display: grid;
    grid-template-columns: 1fr 3fr  1fr;
    grid-template-rows: 1fr 3fr  1fr  1fr;
    grid-template-areas: "header      header      header" "contnos     contnos     publinos" "contnos     contnos     publinos" "footnos     footnos     footnos";
    gap: 5px; }
  .titulo__nosotros {
    font-size: 90px "Open Sans", sans-serif black solid;
    text-align: center;
    margin-top: 40px; }
  .parrafo__nosotros1 {
    width: 650px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px black solid;
    border-radius: 5px;
    background-color: #d4d4d4;
    text-align: justify;
    margin-left: 180px;
    margin-top: 55px;
    padding: 7px; }
  .parrafo__nosotros2 {
    width: 350px;
    margin-left: 25px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d4d4d4;
    border: 1px black solid;
    text-align: justify;
    padding: 7px;
    border-radius: 5px; }
  .imagen__nosparrafo2 {
    margin-left: 130px; }
  .titulo__nosparrafo2 {
    margin-left: 130px; }
  .parrafo__nosotros3 {
    height: 200px;
    width: 350px;
    margin-left: 405px;
    margin-top: -282px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d4d4d4;
    border: 1px black solid;
    border-radius: 5px;
    text-align: justify;
    padding: 7px; }
  .imagen__nosparrafo3 {
    margin-left: 130px; }
  .titulo__nosparrafo3 {
    margin-left: 130px; }
  .parrafo__nosotros4 {
    height: 260px;
    width: 280px;
    margin-left: 775px;
    margin-top: -218px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d4d4d4;
    border: 1px black solid;
    border-radius: 5px;
    text-align: justify;
    padding: 7px; }
  .imagen__nosparrafo4 {
    margin-left: 100px; }
  .titulo__nosparrafo4 {
    margin-left: 100px; }
  .publicidad__nosotros {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .footer__nosotros {
    background-color: #005171;
    border: 1px solid black;
    font: Arial, Helvetica, sans-serif; }
  .footer__direccionn {
    margin-top: 30px; }
  .footer__logosn {
    display: flex;
    flex-direction: column;
    margin-left: 72%;
    width: 34px;
    height: 34px;
    padding: 5px;
    margin-bottom: 40px;
    margin-top: -76px; }
  .footer__telefonon {
    margin-left: 75%;
    margin-top: -66px; }
  .footer__whatsappn {
    margin-left: 75%; }
  .footer__emailn {
    margin-left: 75%; }
  /*CONTACTO*/
  .father__contacto {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: "header      header      header" "contencon   contencon   numeros" "footcon     footcon     footcon";
    gap: 5px; }
  .numeros__contacto {
    background-color: #005171;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 105px solid white;
    color: white; }
  .formulario__contacto {
    margin-top: 10px;
    display: grid;
    justify-content: flex-start;
    text-align: left;
    height: 394px;
    width: 227px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: #d4d4d4; }
  .contenido__contacto {
    background-color: white;
    border: 1px solid black; }
  .mapa__contacto {
    margin-left: 315px; }
  .mapa__tamaño {
    width: 750px;
    height: 320px; }
  .footer__contacto {
    margin-bottom: 0; }
  .footer__logosc {
    display: flex;
    flex-direction: column;
    margin-left: 72%;
    width: 34px;
    height: 34px;
    padding: 5px;
    margin-bottom: 40px;
    margin-top: -76px; }
  .footer__telefonoc {
    margin-left: 75%;
    margin-top: -66px; }
  .footer__whatsappc {
    margin-left: 75%; }
  .footer__emailc {
    margin-left: 75%; }
  .contacto__cv {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 400px;
    margin-top: -580px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d4d4d4;
    height: 180px;
    width: 380px;
    display: grid; }
  .formulario__titulo2 {
    text-align: center; }
  /*Equipos*/
  /*Resonancia*/
  .eresonancia__titulo {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 90px solid black; }
  .eresonancia__parrafocontraindicacion {
    border: 1px solid black;
    margin-top: 20px;
    width: 530px;
    border-radius: 5px;
    padding: 6px;
    background-color: #d4d4d4;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px; }
  .eresonancia__imagen {
    height: 30px; }
  .eresonancia__contenido {
    margin-left: 50px;
    margin-top: 10px;
    height: 495px;
    width: 530px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #005171;
    padding: 6px;
    background-color: #d4d4d4; }
  .resoimagenes {
    height: 400px;
    width: 450px;
    margin-left: 810px;
    margin-top: -640px; }
  /*Densitometria*/
  .edensitometria__titulo {
    text-align: center;
    font-family: "Open Sans", sans-serif; }
  .edensitometria__parrafocontraindicacion {
    border: 1px solid black;
    margin-top: 40px;
    width: 500px;
    border-radius: 5px;
    padding: 6px;
    background-color: #d4d4d4;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px; }
  .edensitometria__imagen {
    height: 30px; }
  .edensitometria__contenido {
    margin-left: 50px;
    margin-top: 100px;
    width: 500px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
    background-color: #d4d4d4; }
  .edensitometria__imagenes {
    height: 300px;
    width: 450px;
    margin-left: 730px;
    margin-top: -560px; }
  /*Tomografia*/
  .etomografia__titulo {
    text-align: center;
    font-family: "Open Sans", sans-serif; }
  .etomografia__parrafocontraindicacion {
    border: 1px solid black;
    margin-top: 40px;
    width: 500px;
    border-radius: 5px;
    padding: 6px;
    background-color: #d4d4d4;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px; }
  .etomografia__imagen {
    height: 30px; }
  .etomografia__contenido {
    margin-left: 50px;
    width: 500px;
    margin-top: 30px;
    border: 1px black solid;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
    background-color: #d4d4d4; }
  .etomografia__imagenes {
    height: 180px;
    width: 500px;
    margin-left: 730px;
    margin-top: -621px; }
  /*Mamografia*/
  .emamografia__titulo {
    text-align: center;
    font-family: "Open Sans", sans-serif; }
  .emamografia__parrafocontraindicacion {
    border: 1px solid black;
    margin-top: 40px;
    width: 500px;
    border-radius: 5px;
    padding: 6px;
    background-color: #d4d4d4;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px; }
  .emamografia__imagen {
    height: 30px; }
  .emamografia__contenido {
    margin-top: 70px;
    margin-left: 50px;
    width: 500px;
    border: 1px black solid;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
    background-color: #d4d4d4; }
  .emamografia__imagenes {
    height: 300px;
    width: 450px;
    margin-left: 670px;
    margin-top: -550px; }
  /*Densitometria*/
  .pdensitometria__titulo {
    text-align: center;
    font-family: "Open Sans", sans-serif; }
  .pdensitometria__contenido {
    margin-left: 50px;
    margin-top: 50px;
    width: 400px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
    background-color: #d4d4d4; }
  .pdensitometria__imagenes {
    height: 330px;
    width: 680px;
    margin-left: 550px;
    margin-top: -240px; }
  /*Mamografia*/
  .pmamografia__titulo {
    text-align: center;
    font-family: "Open Sans", sans-serif; }
  .pmamografia__contenido {
    margin-left: 50px;
    margin-top: 50px;
    width: 400px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
    background-color: #d4d4d4; }
  .pmamografia__imagenes {
    height: 540px;
    width: 450px;
    margin-left: 650px;
    margin-top: -370px; }
  /*Tomografia*/
  .ptomografia__titulo {
    text-align: center;
    font-family: "Open Sans", sans-serif; }
  .ptomografia__contenido {
    margin-left: 50px;
    margin-top: 10px;
    height: 663px;
    width: 500px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
    background-color: #d4d4d4; }
  .ptomografia__imagenes {
    height: 300px;
    width: 650px;
    margin-left: 650px;
    margin-top: -560px; }
  /*Resonancia*/
  .presonancia__titulo {
    text-align: center;
    font-family: "Open Sans", sans-serif; }
  .presonancia__contenido {
    margin-left: 50px;
    margin-top: 10px;
    width: 500px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
    background-color: #d4d4d4; }
  .presonancia__contenido2 {
    height: 436px;
    width: 500px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
    background-color: #d4d4d4;
    margin-left: 50px;
    margin-top: 10px; }
  .presonancia__imagenes {
    height: 300px;
    width: 450px;
    margin-left: 650px;
    margin-top: -660px; }
  /*Extend*/
  .redsocial, .redsocial__ig, .redsocial__fb {
    border: 1px solid black;
    width: 200px;
    display: grid; }
  .redsocial__ig {
    background-color: #990d99;
    color: wheat;
    border-radius: 3px;
    margin-top: 280px; }
  .redsocial__fb {
    background-color: blue;
    color: white;
    border-radius: 3px;
    margin-top: 20px; } }
